@{
    ViewBag.Title = "Home Page";
}

<header id="header">

    <!--== Site Description ==-->
    <div class="header-cta">
        <div class="container">
            <div class="row">
                <div class="entry-content">
                    <p><span class="start-text"><b>We Help You</b></span></p>
                    <h4 class="entry-title"><a href="#">Manage & Attend World class events</a></h4>
                    <h5><span><b>Events Management At Its Peak!</b></span></h5>
                @Html.ActionLink("Get Started", Session["LoggedInUserType"] != null ? "AllEvents" : "SignIn", Session["LoggedInUserType"] != null ? "Event" : "Home", new { area = "" }, new { @class = "btn btn-primary btn-xl" })
                </div>
            </div>
        </div>
    </div>

    <div class="header-bg">
        <div id="preloader">
            <div class="preloader"></div>
        </div>
        <div class="main-slider" id="main-slider">
            <!--== Main Slider ==-->
            <ul class="slides">
                <li><img src="~/Images/demo/bg-slide-01.jpg" alt="Slide Image" /></li>
                <li><img src="~/Images/demo/bg-slide-02.jpg" alt="Slide Image 2" /></li>
            </ul>
        </div>
    </div>
</header>

<div class="content">
    <div class="container box">


        <!--===============================-->
        <!--== About us ===================-->
        <!--===============================-->
        <section id="about" class="about-us">
            <div class="title-start col-md-4 col-md-offset-4">
                <br />
                <h2>About Us</h2>
                <p class="sub-text text-center">Know our great story</p>
            </div>
            <div class="container">
                <div class="about-first">
                    <div class="block col-md-4">
                        <div class="content-block">
                            <i class="fa fa-users fa-3x"></i>
                            <h3>Huge Customers</h3>
                            <p>
                               We have a very large number of customers and we're dedicated to serving them.
                            </p>
                        </div>
                    </div>
                    <div class="block col-md-4">
                        <div class="content-block">
                            <i class="fa fa-rocket fa-3x"></i>
                            <h3>Improve Productivity</h3>
                            <p>
                               Our platform is designed in a way that makes organizers very productive compared to other platforms.
                            </p>
                        </div>
                    </div>
                    <div class="block col-md-4">
                        <div class="content-block">
                            <i class="fa fa-trophy fa-3x"></i>
                            <h3>Award Winning Company</h3>
                            <p>
                                Our efforst over the years has been rewarded with so many awards in different categories.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<!--== Testimonial =============-->
<section id="testimonial" class="testimonial-area">
    <div class="container">
        <div class="title-start col-md-4 col-md-offset-4">
            <h2 class="team-heading white">Testimonial</h2>
            <p class="sub-text text-center">What they say and see among us</p>
        </div>
        <div class="row">
            <div class="col-xs-12">
            </div>
            <div id="testimonial-container" class="col-xs-12">
                <div class="testimonila-block">
                    <img src="~/Images/testimonial.jpg" alt="clients" class="selfshot">
                    <p>
                        I must confess, this is the best platform you can get out there to organize your events! Its easy to use, very nice and lovely.
                        Attendants gets tickets with so much ease too. Just Awesome!!!
                    </p>
                    <strong>Monir Hossain</strong>
                    <br>
                    <small>C.E.O</small>
                </div>
                <div class="testimonila-block">
                    <img src="~/Images/testimonial2.jpg" alt="clients" class="selfshot">
                    <p>
                        I must confess, this is the best platform you can get out there to organize your events! Its easy to use, very nice and lovely.
                        Attendants gets tickets with so much ease too. Just Awesome!!!
                    </p>
                    <strong>Nur Ul Hossain</strong>
                    <br>
                    <small>Project Manager</small>
                </div>
                <div class="testimonila-block">
                    <img src="~/Images/testimonial3.jpg" alt="clients" class="selfshot">
                    <p>
                        I must confess, this is the best platform you can get out there to organize your events! Its easy to use, very nice and lovely.
                        Attendants gets tickets with so much ease too. Just Awesome!!!
                    </p>
                    <strong>Rub Elvi</strong>
                    <br>
                    <small>Developer</small>
                </div>
            </div>
        </div>
    </div><!-- container -->
</section>
<!-- testimonial -->

<div class="content mcontent">
    <div id="gotop" class="gotop fa fa-arrow-up"></div>
</div>

<!-- Contact Area -->
<section id="contact" class="mapWrap">
    <div id="googleMap" style="width:100%;"></div>
    <div id="contact-area">
        <div class="container">
            <h2 class="block_title">Hey !!!</h2>
            <div class="row">
                <div class="col-xs-12">
                </div>
                <div class="col-sm-6">
                    <div class="moreDetails">
                        <h2 class="con-title">More About us</h2>
                        <p> We are dedicated to giving you the best experience and make sure you have the best of events! </p>
                        <ul class="address">
                            <li><i class="pe-7s-map-marker"></i><span>1600 EventsPlus Tower Ave NW,<br>TechCity, JH 20500,<br>United Kingdom</span></li>
                            <li><i class="pe-7s-mail"></i><span>admin@eventsplus.com</span></li>
                            <li><i class="pe-7s-phone"></i><span>+1-111-111-1111</span></li>
                            
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6">
                    <h2 class="con-title">Contact us</h2>
                    <form role="form">
                        <div class="form-group">
                            <input type="text" class="form-control" id="user_name" placeholder="Enter your name">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" id="your_email" placeholder="Enter your email">
                        </div>
                        <div class="form-group">
                            <textarea name="InputMessage" id="user_message" class="form-control" rows="5" required></textarea>
                        </div>

                        <button type="submit" class="btn medium">Let us know</button>
                    </form>
                </div>
            </div>
        </div><!-- container -->
    </div><!-- contact-area -->
    <div id="social">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <ul class="scoialinks">
                        <li class="normal-txt">Find us on</li>
                        <li class="social-icons"><a class="facebook" href="#"></a></li>
                        <li class="social-icons"><a class="twitter" href="#"></a></li>
                        <li class="social-icons"><a class="linkedin" href="#"></a></li>
                        <li class="social-icons"><a class="google-plus" href="#"></a></li>
                        <li class="social-icons"><a class="wordpress" href="#"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div><!-- social -->
</section>
<!-- contact -->