@model EventPlus.Models.UserViewModel

@{
    ViewBag.Title = "Sign In";
}

   
        <div class="container box">
            <section class="about-us" id="about">
                <div class="container w-60">
                    <br />
                    <br />
                    <br />
                    <div class="text-center">
                        <h2 class="section-heading text-uppercase">Log In</h2>
                        <h3 class="section-subheading text-muted">Sign In To Your EventPlus Account.</h3>

                        <div class="d-flex justify-content-center text-center">

                            @using (Html.BeginForm("SignIn", "Home", FormMethod.Post))
                            {
                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control form-group email-input", @placeholder = "Email" });
                                @Html.TextBoxFor(model => model.Password, new { @class = "form-control form-group password-input", @placeholder = "Password", @type = "password" });
                                <button class="btn btn-primary text-uppercase">Sign In</button>

                            }
                        </div>


                        <p class="text-white">Not a member? <a href="SignUp" class="">Register.</a></p>
                    </div>
                    <br />
                    <br />
                    <br />
                </div>
            </section>
        </div>


           
